@font-face {
	font-family: "Millennial Solstice";
	src: url(./fonts/MillennialSolstice.ttf);
}

@font-face {
	font-family: "Wild Creatures";
	src: url(./fonts/WildCreaturesSample.ttf);
}

body {
	margin: 0;
	margin-bottom: 50px;
}

.main-header {
	width: 100%;
	height: 100vh;
	text-align: center;
	background: url(http://i.imgur.com/YSZYX9O.jpg);
/*	background: url(http://i.ebayimg.com/images/g/krAAAOSwmfhX40yu/s-l300.jpg);
*/	background-size: cover;
	margin: 0;
	position: static;
}

h1 {
	font-family: "Millennial Solstice";
}

h2 {
	font-family: "Unica One";
	margin: 0;
	font-size: 30px;
}

hr {
	width: 90%;
}

#title {
	font-family: "Wild Creatures";
	font-size: 200px;
	color: white;
/*	text-shadow: 6px 0 0 #DBDBDB, -6px 0 0 #DBDBDB, 0 6px 0 #DBDBDB, 0 -6px 0 #DBDBDB, 6px 6px #DBDBDB, -6px -6px 0 #DBDBDB, 6px -6px 0 #DBDBDB, -6px 6px 0 #DBDBDB;
*/	top: 30%;
	position: relative;
}

.about {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

#about {
	color: #DCCCFF;
}

#skills {
	margin-top: 50px;
	color: #A7E3FC;
}

.projects {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

#projects {
	color: #ffd1dc;
}

.contact {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

#contact {
	color: #97F0D7;
}

p {
	font-family: "Quicksand";
}

table {
	border-spacing: 30px;
}

td {
	font-family: "Quicksand";
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right: 30px;
}

i {
	font-size: 40px;
}

.project-container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

.left {
	width: 500px;
	display: inline-block;
}

.left-me {
	width: 300px;
	display: inline-block;
	margin-left: 30px;
}

img {
	border-radius: 5px;
	width: 500px;
	border: 2px solid #D4D4D4;
}

.right {
	width: 620px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

.right-me {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}


button {
	width: 80px;
	border-radius: 5px;
	background: white;
	outline: none;
	font-family: "Quicksand";
	font-size: 15px;
}

#github {
	background: #A8E9FF;
	border: 2px solid #4FB0FF;
}

#github:hover {
	background: #26C8FF;
	color: white;
}

#live {
	background: #FFD9FC;
	border: 2px solid #FCE6FC;
}

#live:hover {
	background: #DE64BD;
	color: white;
}

#email {
	color: #779AED;
}

#email:hover {
	font-size: 20px;
}
