@font-face {
	font-family: "Millennial Solstice";
	src: url(./fonts/MillennialSolstice.ttf);
}

@font-face {
	font-family: "Wild Creatures";
	src: url(./fonts/WildCreaturesSample.ttf);
}

body {
	margin: 0;
	margin-bottom: 50px;
}

.main-header {
	width: 100%;
	height: 100vh;
	text-align: center;
	background: url(http://i.imgur.com/YSZYX9O.jpg);
/*	background: url(http://i.ebayimg.com/images/g/krAAAOSwmfhX40yu/s-l300.jpg);
*/	background-size: cover;
	margin: 0;
	position: static;
}

h1 {
	font-family: "Millennial Solstice";
}

h2 {
	font-family: "Unica One";
	margin: 0;
	font-size: 30px;
}

#title {
	font-family: "Wild Creatures";
	font-size: 200px;
	color: white;
/*	text-shadow: 6px 0 0 #DBDBDB, -6px 0 0 #DBDBDB, 0 6px 0 #DBDBDB, 0 -6px 0 #DBDBDB, 6px 6px #DBDBDB, -6px -6px 0 #DBDBDB, 6px -6px 0 #DBDBDB, -6px 6px 0 #DBDBDB;
*/	top: 30%;
	position: relative;
}

.about {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

.projects {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

p {
	font-family: "Quicksand";
}

table {
	border-spacing: 30px;
}

td {
	font-family: "Quicksand";
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right: 30px;
}

i {
	font-size: 40px;
}

.project-container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

.left {
	width: 500px;
	display: inline-block;
}

img {
	border-radius: 5px;
	width: 500px;
	border: 2px solid #D4D4D4;
}

.right {
	width: 620px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}


button {
	width: 80px;
	border-radius: 5px;
	background: white;
	border: 1px solid black;
	outline: none;
}

