@font-face {
	font-family: "Millennial Solstice";
	src: url(./fonts/MillennialSolstice.ttf);
}

@font-face {
	font-family: "Wild Creatures";
	src: url(./fonts/WildCreaturesSample.ttf);
}

body {
	margin: 0;
/*	margin-bottom: 50px;
*/}

.main-header {
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: url(http://i.imgur.com/YSZYX9O.jpg);
	background-size: cover;
	margin: 0;
}

h1 {
	font-family: "Millennial Solstice";
}

h2 {
	font-family: "Unica One";
	margin: 0;
	font-size: 30px;
}

h3 {
	font-family: "Unica One";
	color: #C9C3D4;
	font-size: 35px;
	top: 15%;
	position: relative;
}

hr {
	width: 90%;
}

#title {
	font-family: "Wild Creatures";
	font-size: 200px;
	color: white;
	top: 30%;
	position: relative;
}

.about {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

#about {
	color: #ffd1dc;
}

#skills {
	margin-top: 50px;
	color: #A7E3FC;
	margin-bottom: 0;
}

.projects {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

#projects {
	color: #DCCCFF;
}

.contact {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

#contact {
	color: #97F0D7;
}

p {
	font-family: "Quicksand";
}

table {
	border-spacing: 30px;
}

td {
	font-family: "Quicksand";
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right: 30px;
}

i {
	font-size: 40px;
}

.project-container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

.left {
	width: 500px;
	display: inline-block;
}

.left-me {
	width: 320px;
	display: inline-block;
	margin-left: 10px;
}

img {
	border-radius: 5px;
	width: 500px;
	border: 2px solid #D4D4D4;
}

#me {
	width: 320px;
}

.right {
	width: 620px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

.right-me {
	width: 785px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}


button {
	width: 80px;
	border-radius: 5px;
	background: white;
	outline: none;
	border: none;
	font-family: "Quicksand";
	font-size: 15px;
}

#github {
	background: #A8E9FF;
}

#github:hover {
	background: #26C8FF;
	color: white;
}

#live {
	background: #FFD9FC;
}

#live:hover {
	background: #DE64BD;
	color: white;
}

#email {
	color: #779AED;
	text-decoration: none;
}

#email:hover {
	font-size: 20px;
	font-weight: bold;
}

footer {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#footer-text {
	color: #CCCCCC;
	padding-top: 8px;
}

#linkedin-logo {
	color: black;
	font-size: 20px;
}

#github-logo {
	font-size: 18px;
}

#linkedin-logo:hover {
	color: #0077B5;
}

#github-logo:hover {
	color: #EC6E61;
}

a {
	text-decoration: none;
}

@media (orientation: portrait) {
	.main-header {
		width: 1200px;
		height: 780px;
	}

	h3 {
		top:15%;
	}

	hr {
		width: 1200px;
	}

	.projects, .about, .skills {
		margin-left: 18px;
	}

	.right {
		width: 600px;
	}

	.right-me {
		display: block;
		width: 1000px;
		margin-top: 20px;
	}

	.left-me {
		width: 500px;
		display: block;
		margin-left: 25%;
	}

	#me {
		width: 500px;
		margin: 0 auto;
	}

	#footer-text {
		text-align: center;
	}

}
